extends ./_layout.pug

block vars
	- var title = "About Us"
	- var description = "Description"
	- var page = 'about'

block content
	
	.uk-section.uk-section-large
		.uk-container.uk-container-small.uk-margin-large
			h1 #{title}
			p.uk-text-lead
				| We help organizations create new products and proof-of-concepts for emerging technologies.
				| These days, beautiful interfaces and slick experiences are a given, but that alone won't guarantee your success. You need expert product and design direction, not just a pretty face for your business.
			p.uk-text-lead
				!= 'Our services include <em>idea generation</em>, <em>experience design</em>, <em>interaction design</em>, <em>systems design</em>, <em>development</em>, <em>project support</em> and more.'
			.uk-margin-large-top.uk-text-center
				a.uk-button.uk-button-secondary.uk-button-large(href="/work.html")
					| Browse our work
					span(class="uk-margin-small-left" uk-icon="icon: arrow-right; ratio: 1")
	.uk-section.uk-section-large.uk-section-primary.uk-preserve-color.uk-text-center
		.uk-container.uk-container-small
			h2 Our Clients
			p.uk-text-lead.uk-width-xlarge.uk-margin-auto
				| We have worked with wide variety of clients and partners on a great deal of successfull projects.
		.uk-container.uk-margin-large-top.uk-text-left
			div(uk-grid)
				div(class="uk-width-expand@m uk-width-1-2@s")
					ul.uk-list
						li
							strong Agencies 
						li AMI Praha
						li Actum
						li Symbio
						li Havas Worldwide
						li Ogilvy
						li Zentity
						li VCCP
				div(class="uk-width-expand@m uk-width-1-2@s")
					ul.uk-list
						li
							strong Finance
						li UniCredit Bank
						li UniCredit Leasing
						li XTB
						li Bossa
						li Richfox Capital
				div(class="uk-width-expand@m uk-width-1-2@s")
					ul.uk-list
						li
							strong Healthcare &amp; Energy
						li GSK (GlaxoSmithKline CZ)
						li Energetické Centrum
				div(class="uk-width-expand@m uk-width-1-2@s")
					ul.uk-list
						li
							strong Others
						li Adsl.cz &amp; Dsl.cz
						li LLPGroup
						li datasapiens
						li Teal Swan
						li Bohemian Estates
						li Argus
						li Aristie
						li Bennu
						li Buspark
						li Insophy
						li Službomat
						li SK Rejšice
						li Grafton
						li Obchod s dárky
						li Přf UK
						li Ledvina Academy
						li Somavedic
						li Lucie Svoboda Art
