extends ./_layout.pug

block vars
	- var title = "Expertise"
	- var description = "Our work is a balance between business needs, user needs, creativity and the latest technology."
	- var page = 'expertise'

block content
	
	.uk-section.uk-section-large
		.uk-container.uk-container-small.uk-margin-large
			h1
				!= 'We create unique digital experience<br> and <span class="uk-text-nowrap">cross-platform</span> solutions.'
			p.uk-text-lead
				| Our work is a balance between business needs, user needs, creativity and the latest technology.
	.uk-section.uk-section-large.uk-padding-remove-top
		.uk-container
			div(class="uk-child-width-1-2@s uk-child-width-1-3@m uk-flex-center uk-grid-medium uk-grid-match tm-border-top" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 150;")
				+card-list('Product Design', 'Research', 'Strategy', 'User Interface Design', 'Prototyping', 'User Experience Design')
				+card-list('Development', 'Web & Mobile', 'E-commerce', 'Software', 'Apps', 'Empathic CMS & Wordpress')
				+card-list('Growth', 'Analytics & Insights', 'Integrated Marketing', 'User & A/B Testing', 'CRM & Automation', 'Social')
			.uk-margin-large-top.uk-text-center
				a.uk-button.uk-button-text(href="/work.html")
					| Browse our work
					span(class="uk-margin-small-left" uk-icon="icon: arrow-right; ratio: 1")
	.uk-section.uk-section-large.uk-section-primary.uk-dark.uk-preserve-color.uk-text-center
			.uk-container.uk-container-small
				h2 Our Standards
				p.uk-text-lead.uk-width-xlarge.uk-margin-auto
					| The difference between average and exceptional is paying attention to the details while seeing the overall picture.
			.uk-container-small.uk-margin-auto.uk-margin-large-top
				h3 Functional, User & Mobile Friendly, Fast, Secured
				div.uk-flex.uk-flex-center.uk-margin-auto.uk-margin-large-top.uk-text-left(class="uk-width-child-1-1@s uk-width-child-1-3@m" uk-grid)
					div
						ul.uk-list
							+item-icon('Accesibility')
							+item-icon('Usability')
							+item-icon('Functionality')
							+item-icon('Thorough Research')
					div
						ul.uk-list
							+item-icon('Validated Ideas')
							+item-icon('Great User Experience')
							+item-icon('Exceptional Design')
							+item-icon('Visually Appealing')
					div
						ul.uk-list
							+item-icon('Fast Load Times')
							+item-icon('SEO In Mind')
							+item-icon('Top Notch Security')
							+item-icon('Growth Ready')
	.uk-section.uk-section-large.uk-section-default.uk-text-center
		.uk-container.uk-container-small
			h2 Our Clients
			p.uk-text-lead.uk-width-xlarge.uk-margin-auto
				| We have worked with wide variety of clients and partners on a great deal of successfull projects.
		.uk-container.uk-margin-large-top.uk-text-left
			div(uk-grid)
				div(class="uk-width-expand@m uk-width-1-2@s")
					ul.uk-list
						li
							strong Agencies 
						li AMI Praha
						li Actum
						li Symbio
						li Havas Worldwide
						li Ogilvy
						li Zentity
						li VCCP
				div(class="uk-width-expand@m uk-width-1-2@s")
					ul.uk-list
						li
							strong Finance
						li UniCredit Bank
						li UniCredit Leasing
						li XTB
						li Bossa
						li Richfox Capital
				div(class="uk-width-expand@m uk-width-1-2@s")
					ul.uk-list
						li
							strong Healthcare &amp; Energy
						li GSK (GlaxoSmithKline CZ)
						li Energetické Centrum
				div(class="uk-width-expand@m uk-width-1-2@s")
					ul.uk-list
						li
							strong Others
						li Adsl.cz &amp; Dsl.cz
						li LLPGroup
						li datasapiens
						li Teal Swan
						li Bohemian Estates
						li Argus
						li Aristie
						li Bennu
						li Buspark
						li Insophy
						li Službomat
						li SK Rejšice
						li Grafton
						li Obchod s dárky
						li Přf UK
						li Ledvina Academy
						li Somavedic
						li Lucie Svoboda Art

