extends _layout.pug

block vars
	- var title = "Emphatic"
	- var description = "This is homepage"
	- var page = "home"

block content
	//- Hero Section
	#hero.uk-section-default.uk-dark(uk-scrollspy='{"target":"[uk-scrollspy-class]","cls":"uk-animation-fade","delay":false}')
		.uk-flex.uk-flex-middle(uk-height-viewport="offset-top: true")
			.uk-container
				.uk-grid-margin(class="uk-child-width-1-2@m" uk-grid)
					div
						.uk-margin(uk-scrollspy-class)
							.uk-text-muted
								| Design / Development / Growth
						h1.uk-heading-primary.uk-margin-remove-top.uk-text-left(uk-scrollspy-class)
							| Delivering outcomes with integrated solutions.
						.uk-margin.uk-text-lead.fw-300(uk-scrollspy-class)
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
							| penatibus et magnis.
						.uk-margin-medium-top(uk-scrollspy-class)
							a(class="uk-button uk-button-primary uk-button-large uk-margin-small-right" href="/expertise.html") Our solutions
							a(class="uk-button uk-button-default uk-button-large" href="/work.html") Our work

	//- Featured Partners & Clients
	.uk-section.uk-section-large.uk-section-primary.uk-dark.uk-preserve-color.uk-text-center(uk-scrollspy='{"target":"[uk-scrollspy-class]","cls":"uk-animation-fade","delay":false}')
		.uk-container
			h2.uk-h1.uk-margin-medium-bottom
				| What We Craft
			div(class="uk-child-width-expand@s" uk-grid)
				div(uk-scrollspy-class)
					span(uk-icon="icon: laptop; ratio: 3")
					h3.uk-h4.uk-margin-small-top
						| Websites
					p.uk-text-larger
						| Beautiful responsive websites designed with great user experience in mind. Blazing fast, SEO &amp; conversion friendly and secured.
				div(uk-scrollspy-class)
					span(uk-icon="icon: cart; ratio: 3")
					h3.uk-h4.uk-margin-small-top
						| E-Commmerce
					p.uk-text-larger
						| Fully featured open source or custom E-Commerce solutions optimized for smooth experience and conversion.
				div(uk-scrollspy-class)
					span(uk-icon="icon: server; ratio: 3")
					h3.uk-h4.uk-margin-small-top
						| Software & Apps
					p.uk-text-larger
						| Lorem ipsum dolor si amet, lorem ipsum dolor si amet, lorem ipsum dolor si amet.
			.uk-margin-medium-top
				a(class="uk-button uk-button-default uk-button-large" href="/expertise.html")
					| Learn more

