.uk-navbar-container(uk-sticky="show-on-up: true; animation: uk-animation-slide-top; media: 640")
	.uk-container
		nav.uk-navbar
			.uk-navbar-left
				a.uk-logo.uk-navbar-item(href="/") Emphatic
				.uk-navbar-right
					ul.uk-navbar-nav
						li.uk-active
							a(href="/") Home
						li
							a(href="/pages/about.html") About
						li
							a(href="/pages/services.html") Services
						li
							a(href="#") Item 3
						li
							a(href="#") Item 4
						li
							a(href="#") Item 5
