// 1. Your custom variables and variable overwrites.
//$global-link-color: #DA02C8;

// 2. Import default variables and available mixins.
//@import "../node_modules/uikit/src/scss/variables-theme.scss";
//@import "../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Import UIkit.
//@import "../node_modules/uikit/src/scss/uikit-theme.scss";

// Variables
$brand-primary: #f7f214;
$brand-secondary: #1a1a1a;

$black: #000;


/* Headings */

html,
.uk-section-primary h2,
.uk-section-primary h3 {
  color: $brand-secondary;
}

/* Text */

.uk-text-muted,
.uk-link-muted {
  color: #757575 !important;
}

/* Links */

.uk-link,
a {
  color: $brand-secondary;

  &:hover {
    color: inherit;
  }
}
a em {
  color: $brand-secondary;

  &:hover {
    color: $brand-secondary;
  }
}

// Background
.uk-background-primary {
  background-color: $brand-primary;
}

// Section
.uk-section-primary {
  background: $brand-primary;
}

// Main Navigation
.tm-navbar-container:not(.uk-navbar-transparent) {
  background: #fff;
  border-bottom: 1px solid #ececec;
}

.tm-logo {
  position: relative;
  top: 5px;

  color: $brand-secondary;
}

.uk-navbar-toggle {
  color: #333;
}

.tm-bolder {
  font-weight: 600;
}

.tm-spacing {
  letter-spacing: 0.05em;
}

.tm-highlight {
  color: $brand-secondary !important;

  &:hover {
    color: $black !important;
  }
}

// ==========================================================================
// Buttons
// ==========================================================================

.uk-button-primary {
  background: $brand-primary;
  color: $brand-secondary;

  &:hover,
  &:focus {
    background: $brand-primary;
    border: 1px solid #bbb700;
    color: $brand-secondary;
  }

}

.uk-button-text {
  font-size: 1em;
}

.uk-section-primary .uk-button-default {
  border: 1px solid rgba(0, 0, 0, 0.25);

  &:hover {
    border: 1px solid $brand-secondary;
  }

}

.uk-button .uk-icon {
  position: relative;
  top: -2px;
}

// Cards
.uk-card-default .uk-card-body a {
  text-decoration: none;

  h3 {
    display: inline;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;

    transition: all 0.3s ease;
  }

  &:hover h3 {
    text-decoration: none;
    border-bottom: 1px solid $brand-secondary;
    color: $brand-secondary;
  }
}

.uk-card-small.uk-card-hover .uk-card-body a {
  text-decoration: none;

  h3 {
    display: inline;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;

    transition: all 0.3s ease;
  }

  &:hover h3 {
    text-decoration: none;
    border-bottom: 1px solid $brand-secondary;
    color: $brand-secondary;
  }
}

.uk-card-media-top {
  border-bottom: 1px solid #ececec;
}

.tm-border-top .uk-card {
  border-top: 2px solid;
}

.tm-border-top div:first-child .uk-card {
  border-color: #1e87f0;
}

.tm-border-top div:nth-child(2) .uk-card {
  border-color: $brand-secondary;
}

.tm-border-top div:nth-child(3) .uk-card {
  border-color: #1ebd57;
}

// General
.uk-text-lead {
  font-weight: 300;
}

.uk-text-small blockquote {
  font-size: 1rem;

  & p:before,
  & p:after {
    content: '"';
  }
}

.uk-text-larger {
  font-size: 1.125rem;
  letter-spacing: 0.015em;
}

.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

.op-5 {
  opacity: 0.5;
}

.op-7 {
  opacity: 0.7;
}

.grayscale img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  transition: 0.2s ease-in-out;
}

.grayscale img:hover {
  -webkit-filter: grayscale(0);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0);
  opacity: 1;
}


/*=============================================
=            Mobile Nav            =
=============================================*/

#tm-mobile .uk-nav-primary>li>a {
  color: $brand-secondary;
}


/*=====  End of Mobile Nav  ======*/



// ==========================================================================
// HOMEPAGE
// ==========================================================================

#hero {
  background: url('/img/family@2x-v2.png') no-repeat center right;
  background-size: 50%;
}

@media (max-width: 959px) {
  #hero {
    background: none;
  }
}


// FOOTER
#footer address {
  line-height: 2;
}
